@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

body {
    font-family: 'Teko', sans-serif;
}

p {
    color: white;
}

div {
    background-color: rgb(255, 255, 128);
}
