* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 40px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #343a40;
}

.first {
  color: white;
  margin-bottom: 20px;
}

.second {
  color: white;
}
